# DagsHub / MLflow tracking
MLFLOW_TRACKING_URI=https://dagshub.com/jorgesandovalpablo/demand-forecast
MLFLOW_TRACKING_USERNAME=tu_usuario_dagshub
MLFLOW_TRACKING_PASSWORD=tu_token_dagshub

# Kaggle (opcional — para descarga automática del dataset)
KAGGLE_USERNAME=tu_usuario_kaggle
KAGGLE_KEY=tu_api_key_kaggle
KAGGLE_DOWNLOAD_ENABLED=false
